* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: yellow;
    font-size: 1.5rem;
    padding: 0.2em;
    border: none;
    cursor: pointer;
}

#new-deck {
    align-self: flex-start;
}

#draw-cards {
    width: 100%;
}

.cards {
    width: 100%;
    height: 100%;
}

.card-slot {
    height: 30vh;
    width: calc(30vh * 5 / 7);
    border: 1px solid yellow;
    border-radius: 5px;
    margin-bottom: 3.125em;
}