* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url('./images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: yellow;
    font-size: 1.5rem;
    padding: 0.2em;
    border: none;
    cursor: pointer;
}

#new-deck {
    align-self: flex-start;
}
